* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: darkgrey;
}
.head {
    background-color: rgb(4, 2, 19);
    text-align: center;
    height: 500px;
    width: 350px;
    border-radius: 30px;
    margin:50px;
    justify-content: center;
    display: flex;
}
.head img {
    width: 35px;
    height: 35px;
    margin: 230px 0px 200px 10px;
}
.head h4 {
    color: white;
    text-transform: uppercase;
    margin: 230px 0px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.register {
    background-color: white;
    height: 500px;
    width: 350px;
    border-radius: 30px;
    margin:50px;
    justify-content: center;
}
.welcome {
    margin: 0px 30px;
}
.wave {
    width: 30px;
    height: 30px;
}
.welcome h2 {
    text-transform: capitalize;     
}
.welcome img {
    margin-top: 50px;
}
.welcome p {
    margin: 10px 0px;
}
form {
    margin-left: 30px;
}
form input {
     margin-top: 20px;
     margin-bottom: 5px;
     width: 290px;
     height: 30px;
     border-radius: 5px;
}
.checkbox {
    display: flex;
    margin-left: 30px;
}
.checkbox input {
    margin-top: 2px;
    margin-right: 10px;
    
}
.checkbox a{
    text-decoration: none;
    color: #050226;
    margin-left: 60px;
}
button {
    background-color: rgb(4, 2, 19);
    border-radius: 10px;
    color: white;
    height: 40px;
    margin-top: 20px;
    margin-left: 70px;
    width: 200px;
    justify-content: center;
}
button:hover {
    color: aqua;
    cursor: pointer;
}
.bottom {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bottom img {
    width: 30px;
    height: 30px;
    margin-top: -20px;
}
.flex {
    display: flex;
    justify-content: space-evenly;
}